<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHAI STORY || About</title>
    <!-- page-icon -->
    <link
      rel="icon"
      href="../assets/images/icons/icon.png"
      type="image/x-icon"
    />
    <!-- font-icons -->
    <link rel="stylesheet" href="../assets/fontawesome/css/all.min.css" />
    <!-- style sheet -->
    <link rel="stylesheet" href="../stylesheets/main.css" />
  </head>
  <body>
    <!-- navbar -->
    <!-- nav-button -->
    <span class="nav-btn" id="nav-btn">
      <i class="fas fa-bars"></i>
    </span>
    <!-- navbar -->
    <nav class="navbar" id="navbar">
      <div class="navbar-header">
        <span class="nav-close" id="nav-close">
          <i class="fas fa-times"></i>
        </span>
      </div>
      <ul class="nav-items">
        <a href="../index.html" class="nav-link">home</a>
        <a href="./skills.html" class="nav-link">skills</a>
        <a href="./about.html" class="nav-link">about</a>
        <a href="./product.html" class="nav-link">Products</a>
      </ul>
    </nav>
    <!-- end of navbar -->
    <!-- header -->
    <header class="header">
      <div class="banner">
        <h2>embrace timeless tea traditions</h2>
        <h1>
          savor the flavor<br />
          <span class="sub-heading"
            >sip <span class="sub-heading mid-sub-heading">by</span> Sip</span
          >
        </h1>
        <a href="#" class="btn banner-btn">explore</a>
      </div>
    </header>
    <!-- end of header -->
    <div class="content-divider"></div>
    <!-- about section -->
    <section>
      <div class="section-center clearfix">
        <!-- about-img -->
        <aritcle class="about-img">
          <div class="about-picture-container">
            <img
              src="../assets/images/backgrounds/about-img.jpg"
              alt="Tea field"
              class="about-picture"
            />
          </div>
        </aritcle>
        <!-- about-info -->
        <article class="about-info">
          <div class="section-title">
            <h3>about us</h3>
          </div>
          <p class="about-text">
            1968 by Chai Story is a collection of specially curated tea blends
            poised to spark many moments of magic. Inspired by India – this
            collection tells the glorious stories of tea in a simple yet
            evocative manner. Each tea is born amidst a variety of flora, fauna,
            climate and topography. Furthermore, teas are paired with spices and
            flavours, fruits & flowers culminating in a taste experience that is
            unforgettable.1968 is a celebration of diversity with each carefully
            selected variant having its unique story to tell, 1968 is
            celebration of Truly Indian Tea Stories.
          </p>
          <a href="#" class="btn">learn more</a>
        </article>
      </div>
    </section>
    <!-- end of about section -->
    <!-- contact section -->
    <section class="contact">
      <div class="section-center clearfix">
        <!-- contact-info -->
        <article class="contact-info">
          <!-- contact-item -->
          <div class="contact-item">
            <h4 class="contact-title">
              <span class="contact-icon"
                ><i class="fas fa-location-arrow"></i
              ></span>
              address
            </h4>
            <h4 class="contact-text">
              2 RMZ ecospace <br />
              koramangla <br />
              bangalore, IND
              <span class="contact-flag"
                ><img
                  src="../assets/images/icons/flag.png"
                  alt="India"
                  class="contact-icon-flag"
              /></span>
            </h4>
          </div>
          <!-- end contact-item -->
          <!-- contact-item -->
          <div class="contact-item">
            <h4 class="contact-title">
              <span class="contact-icon"><i class="fas fa-envelope"></i></span>
              email
            </h4>
            <h4 class="contact-text email">admin@chaistory.in</h4>
          </div>
          <!-- end contact-item -->
          <!-- contact-item -->
          <div class="contact-item">
            <h4 class="contact-title">
              <span class="contact-icon"><i class="fas fa-phone"></i></span>
              telephone
            </h4>
            <h4 class="contact-text">+91 123 456 789</h4>
          </div>
          <!-- end contact-item -->
        </article>
        <!-- contact-form -->
        <article class="contact-form">
          <h3>contact us</h3>
          <form action="https://formspree.io/f/xpzvdggz" method="POST">
            <!-- input-group -->
            <div class="form-group">
              <!-- inputs -->
              <div class="row clearfix">
                <div class="form-label">
                  <label for="name">name</label>
                </div>
                <div class="form-input">
                  <input
                    type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    placeholder="Name"
                    required
                  />
                </div>
              </div>
              <!-- inputs -->
              <div class="row clearfix">
                <div class="form-label">
                  <label for="email">e-mail</label>
                </div>
                <div class="form-input">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control"
                    placeholder="Email"
                    required
                  />
                </div>
              </div>
              <!-- inputs -->
              <div class="row clearfix">
                <div class="form-label">
                  <label for="phone">contact</label>
                </div>
                <div class="form-input">
                  <input
                    type="text"
                    name="phone"
                    id="phone"
                    class="form-control"
                    placeholder="Contact Number"
                    required
                  />
                </div>
              </div>
              <!-- inputs -->
              <div class="row clearfix">
                <div class="form-label">
                  <label for="query">query</label>
                </div>
                <div class="form-input">
                  <select name="query" id="query" class="form-control">
                    <option value="suggestion">Suggestion</option>
                    <option value="complaint">Compliant</option>
                    <option value="enquiry">Enquiry</option>
                  </select>
                </div>
              </div>
              <!-- inputs -->
              <div class="row clearfix">
                <div class="form-label">
                  <label for="message">Message</label>
                </div>
                <div class="form-input">
                  <textarea
                    name="message"
                    id="message"
                    rows="5"
                    class="form-control"
                    placeholder="Your Message"
                    required
                  ></textarea>
                </div>
              </div>
            </div>
            <!-- submit button -->
            <button type="submit" class="btn submit-btn">submit</button>
          </form>
        </article>
      </div>
    </section>
    <!-- end of contact section -->
    <!-- footer -->
    <footer>
      <div class="section-center">
        <div class="social-icons">
          <!-- social icon -->
          <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
          <!-- end of social icon -->
          <!-- social icon -->
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <!-- end of social icon -->
          <!-- social icon -->
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <!-- end of social icon -->
        </div>
        <div class="footer-text">
          <h4>
            copyright &copy; <span id="year"></span>
            <span class="brand">chai story</span>
            all rights reserved
          </h4>
          <h4 class="footer-message">
            Made with
            <span><i class="fa fa-heart icon-heart"></i></span> in india
            <span class="footer-flag"
              ><img
                src="../assets/images/icons/flag.png"
                alt="Flag"
                class="img icon-flag"
            /></span>
          </h4>
        </div>
        <a id="button"
          ><span class="btn-cursor"
            ><i class="fa-solid fa-chevron-up"></i
          ></span>
        </a>
      </div>
    </footer>
    <script src="../scripts/app.js"></script>
  </body>
</html>
